
/**** Common ****/

body {
  font-family: 'M PLUS 1p', ‘ヒラギノ角ゴシック’, ‘メイリオ’ , sans-serif;
}

#scroll_top {
  position: fixed;
  display: block;
  right:20px;
  bottom:20px;
  background: #313131b3;
  color: #fff;
  padding:20px;
  border-radius: 50%;
}

#skill_set_content .skill_bar_wrap {
    float: left;
    height: 20px;
    padding: 0;
    border-radius: 5px;
    background-color: #ccc;
}

#skill_set_content .skill_bar_wrap .skill_bar {
    background-color: #444;
    height: 100%;
    border-radius: 5px;
}

#skill_set_content .frontend_skill .skill_bar {
    background-color: #ff0000;
}

#skill_set_content .backend_skill .skill_bar {
    background-color: #00ff00;
}

#skill_set_content .other_skill .skill_bar {
    background-color: #1100ff;
}

/**** nav_bar ****/

nav {
  box-shadow: none;
  background-color: rgba(255,255,255,.7);
}

nav .brand-logo {
  color: #000;
}

.nav_bar nav li {
  float: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-list {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 90%;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.dropdown-list li {
  width: 100%;
}
.dropdown:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

nav .sidenav-trigger,
nav li a,
nav ul .dropdown-list a {
  color: #000;
}

ul.sidenav {
  padding-top: 20px;
}

.sidenav .collapsible-header {
  padding: 0 32px;
}

.sidenav .collapsible-body li a {
  padding-left: 52px;
}

/**** top_title ****/

#top_title {
  height: calc(100vh - 64px);
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 50px;
}

/**** profile ****/

#about,
#portfolio,
#portfolio_skill {
    background-color: rgba(1, 1, 1, 0.4);
    padding: 20px 10px;
    margin: 50px 0;
    /* border-radius: 5px; */
}

#profile_image {
    float: left;
    margin-right: 10px;
}

#profile_image img {
  min-width: 100px;
  min-height: 100px;
}

#profile p {
  overflow: hidden;
}

/**** contact ****/

#contact {
  padding: 10px 0;
  color: #ffffff;
}

#contact form label {
    color: #fff;
}

@media screen and (max-width:768px) {
    #profile_image {
        text-align: center;
        float: none;
        margin-right: 0;
    }

    #profile p {
        overflow: inherit;
    }

    #skill_set_content canvas {
        min-height: 150px;
    }
}